.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1rem;
}

.address {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.victimCount {
  color: #4b5563;
  margin-bottom: 0.5rem;
}

.status {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
}

.statusWaiting {
  background-color: #fef3c7;
  color: #d97706;
}

.statusVisited {
  background-color: #d1fae5;
  color: #059669;
}

.statusFalse {
  background-color: #fee2e2;
  color: #dc2626;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  border: 1px solid #d1d5db;
  background-color: white;
  color: #374151;
  cursor: pointer;
  margin-left: 0.5rem;
}

.button:hover {
  background-color: #f3f4f6;
}

.buttonTweet {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  margin-right: 0.5rem; /* Add space between Tweet and Location button */
}

.buttonTweet:hover {
  background-color: #2563eb;
}

.buttonMap {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
}

.buttonMap:hover {
  background-color: #2563eb;
}

.buttonSuccess {
  background-color: #d1fae5;
  color: #059669;
  border: none;
}

.buttonSuccess:disabled {
  background-color: #d1fae5;
  cursor: not-allowed;
}

.buttonDanger {
  background-color: #fee2e2;
  color: #dc2626;
  border: none;
}

.buttonDanger:disabled {
  background-color: #fee2e2;
  cursor: not-allowed;
}


/* Dropdown Tweet container */
.tweetContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.tweetContainer.visible {
  max-height: 300px; /* Adjust to fit the content */
  opacity: 1;
  padding: 0.5rem;
  background-color: #f1f5f9;
  border-radius: 0.25rem;
  margin-top: 1rem;
  transition: max-height 0.5s ease-in, opacity 0.3s ease-in;
}

/* Map Popup container */
.mapPopup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}